<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4 class="abn_color">Customers Info</h4>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li ng-click="viewAll()">
                    <a href="">View All</a>
                </li>
                <li ng-click="add()">
                    <a href="">Add</a>
                </li>
                <li ng-click="update()">
                    <a href="">Update</a>
                </li>
                <li ng-click="delete()">
                    <a href="">Delete</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10">
            <div ng-if="viewAllFlag">
                <h2 class="abn_color">All Users</h2>
                <hr>
                <table ng-if="users != null" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Account Number</th>
                            <th>User Name</th>
                            <th>Role </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.accountId}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.role}}</td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="users == null" class="alert alert-info">
                    <strong>Info!</strong> No User records Exist !
                </div>
            </div>

            <div ng-if="addFlag">
                <h2 class="abn_color">Add User</h2>
                <hr>
            </div>

            <div ng-if="deleteFlag">
                <h2 class="abn_color">Delete User</h2>
                <hr>
            </div>

            <div ng-if="updateFlag">
                <h2 class="abn_color">Update User</h2>
                <hr>
            </div>

            <div ng-if="responseObj != null">
                <div ng-if="responseObj.success == true" class="alert alert-success">
                    {{responseObj.response}}
                </div>
                <div ng-if="responseObj.success == false" class="alert alert-danger">
                    {{responseObj.response}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>