.row.content {
    height: 100%
}

.sidenav {
    background-color: white;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.abn_color {
    color:  #00958F;
}
.abn_bg_color {
    background-color:  #00958F;
    color: white;
}
.list_table {
    font-size: 18px;
    color:rgb(66, 83, 121);
}

.bold {
    font-weight: 450;
}