.row.content {
    height: 100%
}

.sidenav {
    background-color: white;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.abn_color {
    color:  #00958F;
}
.abn_bg_color {
    background-color:  #00958F;
    color: white;
}
.list_table {
    font-size: 18px;
    color:rgb(66, 83, 121);
}

.bold {
    font-weight: 450;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px;
}
.success_color {
    color: #4CD964;
}
.info_color {
    color: #5bc0de;
}
.danger_color {
    color: #d9534f;
}