.ABN-BG-Color {
    background-color:#00958F;
}
.ABN-TC-White {
    color: white;
}
.ABN-Center {
	align-content: center;
}

body {
    padding-top: 90px;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
