<div class="container-fluid">
        <div class="row content">
          <div class="col-sm-2 sidenav">
            <h4 style="color: #00958F">Dashboard</h4><hr>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="">Stocks</a></li>
              <li><a href="">Loans</a></li>
              <li><a href="">Credits</a></li>
            </ul>
          </div>
      
          <div class="col-sm-10">
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            <h2>Trusted</h2>
            <h5> Post by ABN, Jan 15, 2018.</h5>
            <h5><span class="label label-danger">Secure</span> <span class="label label-primary">Privacy</span></h5><br>
            <p>We at ABN AMRO believe trust is all about establishing and maintaining lasting relationships. We take the time to get to
              know you by listening to your specific needs and aspirations. Our goal? To find the products and services that are right
              for you. When we make a promise, we always live up to it; when we communicate with you, we are always straightforward and
              never have any hidden agendas. Our commitment to responsible banking means we carefully weigh risks and returns so that
              you know your money is in good hands at all times.</p>
            <br><br>
            
           
            <hr>
            <h2>Professional </h2>
            <h5></span> Post by ABN, Jan 12, 2018.</h5>
            <h5><span class="label label-success">Quality</span></h5><br>
            <p>We at ABN AMRO understand banking. We genuinely believe in our profession and take responsibility by saying “no” if saying
              “yes” would not do right by you. We create solutions that are simple, understandable and workable, and we strive to improve
              ourselves every day by working together and learning from one another – and from you.
            </p>
            <hr>
            
            
            <hr>
            <h2>Ambitious  </h2>
            <h5> Post by ABN AMRO NL, Dec 25, 2017.</h5>
            <h5><span class="label label-success">Innovative</span></h5><br>
            <p>We at ABN AMRO are always stretching our boundaries and striving to achieve more for you. We make it our business to know
              what’s going on in the market and to respond proactively, and we do everything possible to understand what you really need
              and to craft innovative solutions. Our optimism about the future drives our ambition to offer you more.
            </p>
            <hr>
          </div>
        </div>
      </div>